<h3>
    Add new hero:
</h3>

<section class="listing-apply">
    <h2> Add new hero: </h2>
    <form [formGroup]="applyForm" (ngSubmit)="add()">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">

        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description">

        <label for="health">Health: </label>
        <input id="health" type="text" formControlName="health">

        <label for="basicDamage">Basic Damage: </label>
        <input id="basicDamage" type="text" formControlName="basicDamage">

        <label for="armour">Armour: </label>
        <input id="armour" type="text" formControlName="armour">

        <label for="heropic":>Link to picture: </label>
        <input id="heropic" type="text" formControlName="heropic">

        <button class="clear" type="submit">Save</button> 
    </form>
</section>