<div class="heroes-container">
  <div *ngFor="let hero of heroes">
    <div class="hero-item">
      <div class="hero-card"><img class="hero-img" [src]=heroLink(hero) alt="Hero Image">
        <div class="hero-content">
          <h1 class="card-header">
            {{hero.name}}
          </h1>
          <p class="card-text">
            {{hero.description}}
          </p>
          <button class="card-button" type="button" routerLink="/detail/{{hero.id}}">
            See more
          </button>

        </div>
      </div>
    </div>

  </div>

</div>

<div>
  <button type="button" class="clear" title="add hero" routerLink="/create">CreateHero</button>
</div>