/* DashboardComponent's private CSS styles */

.container{
margin: auto;
}

h2 {
  text-align: center;
  color: rgb(222, 255, 255);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.heroes-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;



  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

a {
  background-color: #9e000b;
  border-radius: 25px;
  border: 5px solid #aa0000;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: #e1f6fc;
  text-align: center;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition-duration: 0.5s;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

@media (min-width: 600px) {
  a {
    width: 18%;
    box-sizing: content-box;
  }
}

a:hover {
  background-color: rgb(0, 0, 0);
  border:5px solid #000000;
  box-shadow: 0 0px 50px rgb(255, 0, 0);
}