<div class="add-box">

    <form class="form-add" [formGroup]="applyForm" (ngSubmit)="add()">
        <h2> Add new hero </h2>
        <div class="input-field">
            <label for="name">Name </label>
            <input id="name" type="text" formControlName="name">
        </div>

        <div class="input-field">
            <label for="description">Description </label>
            <input id="description" type="text" formControlName="description">
        </div>

        <div class="input-field">
            <label for="health">Health </label>
            <input id="health" type="text" formControlName="health">
        </div>

        <div class="input-field">
            <label for="basicDamage">Basic Damage </label>
            <input id="basicDamage" type="text" formControlName="basicDamage">
        </div>
        <div class="input-field">
            <label for="armour">Armour </label>
            <input id="armour" type="text" formControlName="armour">
        </div>


        <div class="input-field">
            <label for="picture">Link to picture </label>
            <input id="picture" type="text" formControlName="picture">
        </div>

        <mat-select class="input_field_dropdown" formControlName="powers" multiple placeholder="Select Powers">
            <mat-option *ngFor="let power of powers" [value]="power">{{ power }}

            </mat-option>
        </mat-select>

        <button class="clear" type="submit">Save</button>
        <button class="clear" type="button" onclick="goBack()">Go Back</button>
    </form>
</div>